@model OpusMediaLibrary.Models.Song

@{
    ViewBag.Title = "Music Uploader";
}

<h2>Music Uploader</h2>

<div class="row">
    <div class="col-md-6">

        <form action="@Url.Action("UploadAudioFile", "Home")" method="post" enctype="multipart/form-data" class="form -horizontal">

            <div class="form-group">
                <label for="audioFile" class="control-label col-md-2">File</label>
                <div class="col-md-10">
                    <input type="file" name="audioFile" id="audioFile" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="BitRate">Bitrate</label>
                <div class="col-md-10">
                    <select name="BitRate" id="BitRate" class="form-control">
                        <option value="48000">48Kbps Stereo</option>
                        <option value="24000">24Kbps Mono</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="@nameof(Model.Title)" class="control-label col-md-2">@nameof(Model.Title)</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="@nameof(Model.Title)" id="@nameof(Model.Title)" />
                </div>
            </div>

            <div class="form-group">
                <label for="@nameof(Model.Artist)" class="control-label col-md-2">@nameof(Model.Artist)</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="@nameof(Model.Artist)" id="@nameof(Model.Artist)" />
                </div>
            </div>

            <div class="form-group">
                <label for="@nameof(Model.Genre)" class="control-label col-md-2">@nameof(Model.Genre)</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="@nameof(Model.Genre)" id="@nameof(Model.Genre)" />
                </div>
            </div>

            <div class="form-group">
                <label for="@nameof(Model.CloudTokenId)" class="control-label col-md-2">Cloud Account</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.CloudTokenId, ViewBag.storage as List<SelectListItem>, "", new { @class = "form-control" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Upload</button>
                </div>
            </div>
        </form>



    </div>

</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


